.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.cards-container{
    display: grid;
   grid-template-columns: auto auto auto auto;
   gap: 10px;
   margin: 10px;
   width: 450px;
}


.flip-card{
    perspective: 1000px;     /*  for #3D  effect*/
    height: 100%;
    
}
/* Flip when 'flip' class is added */
.flip-card-inner.flip {
    transform: rotateY(180deg);
}
.flip-card-inner{
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    width: 100px;
    height: 100px;
}
.flip-card-front, .flip-card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border: 2px solid rgb(5, 128, 31);
    border-radius: 7px;
}
.flip-card-front{
    background:  rgb(5, 128, 31);
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flip-card-back{
   transform: rotateY(180deg);
}
.card{
    padding:10px;
    font-size: 35px;
    border: 2px solid rgb(5, 128, 31);
    border-radius: 7px;
   
}
@media (max-width:500px) {
    .cards-container{
        /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
        width: 300xp;
    }

 .flip-card-front{
    font-size: 30px;
}
.flip-card-inner{
    width: 60px;
    height: 60px;
}
.flip-card{
    perspective: 1000px;     /*  for #3D  effect*/
    width: 100%;
    height: 100%;
    
}

}